{{ define "main" }}

  {{ if .Site.Data.service.service.enable }}
  <!-- service -->
  <section class="section-lg service-bg-image position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          {{ with .Site.Data.service.service }}
          <h2 class="section-title">{{ .title }}</h2>
          <p class="mb-100">{{ .description | safeHTML }}</p>
            {{ end }}
        </div>
        {{ range $i,$p := .Site.Data.service.service.serviceItem }}
        {{if not (modBool $i 2)}}
        <!-- service item -->
        <div class="col-sm-6 mb-4 translate-y-150">
          <div class="rounded bg-white p-4 shadow-primary">
            <i class="{{ .icon }} round-icon {{ .iconColor }} mb-4"></i>
            <h4>{{ .title }}</h4>
            <p>{{ .content | safeHTML }}</p>
          </div>
        </div>
        {{ else }}
        <!-- service item -->
        <div class="col-sm-6 mb-4">
          <div class="rounded bg-white p-4 shadow-primary">
            <i class="{{ .icon }} round-icon {{ .iconColor }} mb-4"></i>
            <h4>{{ .title }}</h4>
            <p>{{ .content | safeHTML }}</p>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /service -->
  {{ end }}

{{ end }}