
.logo {
  font-weight: 900;
  font-size: 30px;
  @include mobile {
    color: $primary-color;
  }
}

.newsletter-btn {
  background-color: $primary-color !important;
}

.section-separate-0 {
  background-color: #f5f6fd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -20px;
}

.feature {
  position: relative;

  &-item {
    h4 {
      line-height: 1;
    }

    p {
      line-height: 25px;
    }

    &:hover {
      .feature-icon {
        box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
      }
    }
  }

  &-bg-1 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-2 {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    color: $white;
    font-size: 45px;
    line-height: 90px;
    background: $primary-color;
    box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.10);
    text-align: center;
    transition: .2s ease;
  }
}

.solution {
  background-image: linear-gradient(59deg, #006e83 0%, #006e83 95%);
  .solution-item {
    padding: 30px;
    background-color: #fafafe;
    border-radius: 6px;
  }
  .solution-icon {
    font-size: 30px;
    color: $primary-color;
  }
  .content {
    font-size: 15px;
  }
}

.best-app {
  background-color: #f5f6fd;
  .app_content {
    padding-top: 80px;
    padding-bottom: 80px;
    .value {
      font-size: 32px;
      color: #ff1154;
      font-weight: 900;
    }
  }
}


.seo {
  position: relative;
  overflow: visible;
  padding-top: 100px;

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    max-width: 50%;

    @include desktop-lg {
      max-width: 40%;
    }
  }

  &-bg-shape-1 {
    position: absolute;
    left: 25%;
    top: 0;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-2 {
    position: absolute;
    right: 2%;
    top: 40%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-3 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.service {
  position: relative;
  overflow: visible;

  &-list {
    li {
      margin-bottom: 30px;
      color: $text-color;

      i {
        margin-right: 20px;
        color: $text-color;
      }
    }
  }

  &-bg {
    position: absolute;
    right: 0;
    top: -10%;
    z-index: -1;
    max-width: 40%;

    @include desktop {
      max-width: 40%;
      top: 0;
    }
  }

  &-bg-shape-1 {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-2 {
    position: absolute;
    left: 40%;
    bottom: 0;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.team {
  overflow: visible;
  position: relative;

  &-slider {
    overflow: hidden;
    padding-bottom: 100px;

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      border: 0;
      background: transparent;
      color: $primary-color;
      position: absolute;
      bottom: 0;
      z-index: 1;
      font-size: 25px;

      &.slick-disabled {
        color: lighten($color: $primary-color, $amount: 30);
      }
    }

    .prevArrow {
      left: 10px;
    }

    .nextArrow {
      left: 50px;
    }
  }

  &-member {
    padding: 30px 45px;
    background: $white;
    box-shadow: 0px 23px 43px 0px rgba(172, 189, 199, 0.49);
    margin: 0 20px;

    @include desktop-lg {
      padding: 30px;
    }
  }

  &-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    max-width: 50%;

    @include desktop {
      max-width: 40%;
    }
  }

  &-bg-shape-1 {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-2 {
    position: absolute;
    top: 100px;
    right: -5px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-3 {
    position: absolute;
    bottom: 20%;
    right: 40%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-4 {
    position: absolute;
    bottom: 20%;
    right: 180px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.pricing {
  position: relative;
  overflow: visible;

  &-table {
    padding: 50px 35px 30px;
    transition: .2s ease;
    // box-shadow: 0px 59px 43px 0px rgba(216, 233, 243, 0.3);
    border: solid 1px #f4f4f4;
    @include desktop-lg {
      padding: 30px 20px;
    }

    h4 {
      color: #878ba4;
    }

    h1 {
      font-size: 65px;
      span {
        font-size: 20px;
        vertical-align: top;
        line-height: 65px;
        margin-right: 5px;
      }
    }

    &:hover {
      box-shadow: 0px 59px 43px 0px rgba(216, 233, 243, 0.3);
    }

    &.table-3 {
      background-image: linear-gradient(59deg, #fafafe 0%, #fafafe 95%);
    }

    .pricing-btn {
      background-color: $primary-color;
      padding: 10px 40px;
    }
  }


  &-btn {
    font-size: 15px;
    color: $white;
    padding-left: 10px;
    padding-right: 10px;


    @include desktop-lg {
      padding: 5px;
    }

    &:hover {
      color: $white;
    }
  }

  &-bg-shape-1 {
    position: absolute;
    left: 30%;
    top: 100px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-2 {
    position: absolute;
    right: 10%;
    top: 110px;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-shape-3 {
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.newsletter {
  position: relative;
  background-color: #f5f6fd;
  padding-top: 50px;
  padding-bottom: 50px;
  &-form {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    border: 0;
    background: $white;
    box-shadow: $primary-shadow;
    border-radius: 5px;

    &:focus {
      outline: 0;
      box-shadow: 0;
    }
  }

  &-btn {
    position: absolute;
    height: 100%;
    background: #8986ff;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    font-size: 15px;
    color: $white;
    text-transform: uppercase;

    @include mobile {
      padding-left: 5px;
      padding-right: 5px;

    }
  }

  &-bg-shape {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}

.footer {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-top: 1px solid #ccc;
  // background-color: $white;

  &-section {
    padding-top: 20px;
    padding-bottom: 20px;

  }

  &-menu {
    a {
      font-size: 14px;
      color: $text-color;
      display: block;
      padding: 10px;
    }
  }
}

.social-icon {
  li {
    margin: 0 12px;

    a {
      height: 45px;
      width: 45px;
      background: $white;
      color: $text-color;
      border-radius: 5px;
      line-height: 45px;
      display: block;
      text-align: center;
    }
  }
}

.client-logo-slider {
  img {
    transition: .2s ease;
  }

  a {
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

/* service page */

.service-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 400px;
}

.service {
  &-bg-1 {
    position: absolute;
    left: 50px;
    top: 10%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-2 {
    position: absolute;
    right: 50px;
    top: 10%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-3 {
    position: absolute;
    right: 50px;
    top: 50%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-4 {
    position: absolute;
    left: 50px;
    bottom: 30%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }

  &-bg-5 {
    position: absolute;
    left: 10%;
    bottom: 5%;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
}