.navigation {
  transition: .3s ease;
  z-index: 10;
  background-color: $background-color;
  @include desktop {
    background: $white;
  }

  .logo {
    font-weight: 900;
    font-size: 30px;
    color: $dark;
    @include tablet {
      color: $primary-color;
    }
}
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
  // color: $white;
  font-size: 17px;
  // font-weight: 400;
  @include tablet {
    color: $text-color-dark;
  }
}

.navbar {
  transition: .3s ease;
  &-collapse{
    @include desktop {
      padding-bottom: 20px;
    }
  }
}

.nav-item {
  padding: 20px 10px;
  @include desktop {
    padding: 0;
  }
}