// Color Variables
$primary-color: #f58f8c;
$background-color: #fccdcd;
$text-color: #646E73;
$text-color-dark: #2D3B41;
$body-color: #fff;
$gray:#f2f3f5;
$dark: #212329;
$black: #000;
$white: #fff;

$primary-gradient: linear-gradient( 25deg,$primary-color 0%, $primary-color  95%);
$primary-gradient-alt: linear-gradient( 205deg, $primary-color 0%, $primary-color 95%);
$secondary-gradient: linear-gradient( 6deg, $primary-color 0%, $primary-color 100%);
$secondary-gradient-alt: linear-gradient( 186deg, $primary-color 0%, $primary-color 100%);
$primary-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);

// Font Variables
$primary-font: 'Poppins', sans-serif;
$icon-font: 'themify';
