// Color Variables
$primary-color: #8986ff;
$text-color: #4d546f;
$text-color-dark: #091337;
$body-color: #fff;
$gray:#f2f3f5;
$dark: #212329;
$black: #000;
$white: #fff;

$primary-gradient: linear-gradient( 25deg,#8986ff 0%, #8986ff  95%);
$primary-gradient-alt: linear-gradient( 205deg, #8986ff 0%, #8986ff 95%);
$secondary-gradient: linear-gradient( 6deg, #8986ff 0%, #8986ff 100%);
$secondary-gradient-alt: linear-gradient( 186deg, #8986ff 0%, #8986ff 100%);
$primary-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);

// Font Variables
$primary-font: 'Poppins', sans-serif;
$icon-font: 'themify';
