{{ if .Site.Data.homepage.feature.enable }}
  <!-- feature -->
  <section class="section feature mb-0" id="feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-50 text-center">
          {{ with .Site.Data.homepage.feature }}
          <h3 class="section-title">{{ .title }}</h3>
          {{ end }}
        </div>
        {{ range .Site.Data.homepage.feature.featureItem }}
        <!-- feature item -->
        <div class="col-md-6 mb-80">
          <div class="d-flex feature-item">
            <div>
              <i class="{{ .icon }} feature-icon mr-4"></i>
            </div>
            <div>
              <h4>{{ .title }}</h4>
              <p>{{ .content }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /feature -->
  {{ end }}