{{ define "main" }}

  <!-- contact -->
  <section class="section-lg contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ with .Site.Data.contact.contact.title }}{{ . }} {{end }}</h2>
        </div>
      </div>
      <div class="row contact-bg p-5 rounded mb-5">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <form action="{{ with .Site.Data.contact.contact.formAction }}{{ . }} {{end }}" method="POST">
            <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
            <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
            <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
            <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
            <button type="submit" value="send" class="btn btn-secondary">SEND MESSAGE</button>
          </form>
        </div>
        <div class="col-lg-5">
          <p class="mb-5">{{ with .Site.Data.contact.contact.content }}{{ . }} {{end }}</p>
          <a href="tel:{{ with .Site.Data.contact.contact.phone }}{{ . }} {{end }}" class="text-color h5 d-block">{{ with .Site.Data.contact.contact.phone }}{{ . }} {{end }}</a>
          <a href="mailto:{{ with .Site.Data.contact.contact.email }}{{ . }} {{end }}" class="mb-5 text-color h5 d-block">{{ with .Site.Data.contact.contact.email }}{{ . }} {{end }}</a>
          <p>{{ with .Site.Data.contact.contact.address }}{{ . | safeHTML }} {{end }}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        {{ range .Site.Data.contact.bulletPoint }}
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <div class="card p-4 border-blue">
            <h5><i class="{{ .icon }} round-icon {{ .iconColor }} mr-2"></i> {{ .title }}</h5>
            <p class="mb-0">{{ .content }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
   
  </section>
  <!-- /contact -->

{{ end }}